{% extends "master_template.html" %}

{% block title %}
  <h1>Login</h1>
{% endblock %}


{% block content %}
  <div class="container">
    <p><a href="/">HOME</a></p> <!--This is a link to return to the main/Landing/root page-->

    <h2 style="color: green;">Login to view record : <b>{{barcode}}</b></h2>
    
    <form method="post" action="record">
      {% csrf_token %}
      <!---div class="imgcontainer"--->
        <!--img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0lghnoEEoGk5z21yaosGWgHaFj%26pid%3DApi&f=1&ipt=db60d0a876b67181ac188a259242c54a7bbb02f2dd6e11cb7af04b8784c3db1a&ipo=images" alt="Avatar" class="avatar"-->
      <!---/div--->
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    </form>

  </div>

{% endblock %}