{% extends "master_template.html" %}

{% block title %}
  <h1>Login</h1>
{% endblock %}


{% block content %}
  <div class="container">
    <p><b><a href="/">HOME</a></b></p> <!--This is a link to return to the main/Landing/root page-->

    <h2 style="color: green; text-align: center;">Login to view record : <b>{{barcode}}</b></h2>
    
    <form action="record" method="post">
      {% csrf_token %}
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

    </form>

  </div>

{% endblock %}