{% extends "master_template.html" %}

{% block title %}
  ODK Scanner Application
{% endblock %}

{% block content %}
  <div class="container" style="position: relative;">

    <h2 style="background-color: black; color: white; text-align: center;"><b>ODK Scanner application</b></h2>
    <br>

    <p style="text-align: center;">This application will scan a barcode on an ES sample container, login to the ODK instance and pulls the corresponding record</p>
    <br>
    <div style="margin-left: 37.5%;">
        <!--h2 style="text-align: center;"><b><a href="odk_barcode_app/">Scan Barcode</a></b></h2--->
        <button style="width: 300px; color: white; border-radius: 5px;" onclick="window.location.href='odk_barcode_app/';"><h2><b>Scan Barcode</b></h2></button>
    </div>

    {% if barcode == "No barcode found." %}
      <h2 id="failed_scan" style="color: red; text-align: center;">Scanning failed, please try again</h2>
    {% endif %}
    <br>
  </div>
  <br>
{% endblock %}