{% extends "master_template.html" %}

{% block title %}
  ODK Scanner Application
{% endblock %}

{% block content %}
  <div class="container" style="align-items: center;">
    
    <h2>ODK Scanner application</h2>

    <p>This application will scan a barcode on an ES sample container, login to the ODK instance and pulls the corresponding record</p>
    
    <p><b><a href="odk_barcode_app/">Scan Barcode </a></b></p>

    {% if barcode == "No barcode found." %}
      <h2 id="failed_scan" style="color: red;">Scanning failed, please try again</h2>
    {% endif %}
  </div>
{% endblock %}