{% extends "master_template.html" %}

{% block title %}
  <h1>Record</h1>
{% endblock %}


{% block content %}

  <div class="container">
    <p><b><a href="/">HOME</a></b></p> <!--This is a link to return to the main/Landing/root page-->

    <br>

    {% if rq.0 == "No matching record found" %}

      <h2 style="color: red; text-align: center;"><b> No matching record found for sample {{rq.0}}</b></h2>

    {% else %}

      <h2 style="color: green; text-align: center;">Record for sample : <b>{{rq.1}}</b></h2>

      <table class="table table-striped">
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        {% for key, value in rq.0.items %}
          <tr>
            <td>{{ key}}</td>
            <td>{{ value}}</td>
          </tr>
        {% endfor %}
      </table>

    {% endif %}

  </div>
  <br>
  
{% endblock %}